.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.navbar .container > div:last-of-type {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 25px;
}

.card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.5rem;
}

#film-container { align-items: center; }

#theme, #adult {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
    border: none !important;
    width: 30px;
    height: 30px;
}

#theme { background-image: url("../../icons/sun.svg"); }
.dark #theme { background-image: url("../../icons/moon.svg"); }

#adult {
    background-image: url("../../icons/18-plus.svg");
    transition: opacity 0.25s ease-in-out;
    opacity: 0.5;
}
#adult.include { opacity: 1; }

#random-movie {
    position: relative;
    height: calc(100vw / 1.77); /* 16/9 resolution */
    max-height: 80vh;
    overflow: hidden;
    transition: opacity 0.9s ease-in-out;
    padding: 0;
}

.random-item-body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(37, 37, 37, 0.78);
    border-radius: 10px;
    padding: 2rem;
}

#random-movie img.movie-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#random-movie .movie-favorite-icon {
    top: 5px;
    left: 5px;
}

#categories { padding: 1rem 0 !important; }

#language { width: min-content; }
#language option { color: var(--bs-dark); }

body main *,
body .offcanvas {
    transition: background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
}

.dark main,
.dark main > *,
.dark .offcanvas {
    background: #212529 !important;
    color: #f8f9fa !important;
}

.dark .card {
    border-color: #14171a !important;
    background-color: transparent !important;
}
.dark .card-body { background-color: #14171a !important; }

.dark button,
.dark label {
    color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}

body.dark input[type="search"] {
    background-color: transparent !important;
    color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}
body.dark input[type="search"]::placeholder {
    color: #f8f9fa !important;
}

body.dark input[type="radio"]:checked + label {
    background-color: #f8f9fa !important;
    color: #212529 !important;
}
body.dark .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

::-webkit-scrollbar { width: 1em; }
::-webkit-scrollbar-track { background-color: #f8f9fa; }
::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    background-color: #212529;
}

body.dark::-webkit-scrollbar-track,
body.dark ::-webkit-scrollbar-track { background-color: #212529 !important; }
body.dark::-webkit-scrollbar-thumb,
body.dark ::-webkit-scrollbar-thumb { background-color: #f8f9fa !important; }
